/* Styles for the Dashboard component */

.center {
  /* center horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center__parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://cdn.glitch.com/09b5e92c-68d7-41d4-8cee-049726eaea73%2Fback.jpg?v=1586886081806");
}