/* Styles for the Login React component */

.center {
  /* center horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__bg-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.glitch.com/09b5e92c-68d7-41d4-8cee-049726eaea73%2Fback.jpg?v=1586886081806");
}

.login__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 65px 0 65px 0;
  width: 300px;
  background-color: #2D2D2DED;
  border-radius: 4px;
}

#login__h2 {
  margin-top: -25px;
  margin-bottom: 25px;
}

/* Increase specificity to override component styles */
.MuiButton-root.login__button {
  display: inline-block;
  margin-top: 50px;
  margin-left: 25px;
  margin-right:25px;
  width: 100px;
  height: 50px;
}

.MuiButton-root.login__button {
  border: 3px #e7e8eb solid;
}

.MuiButton-root.login__button:hover {
  border: 5px #e7e8eb solid;
}

.MuiButton-root.login__button {
  background-color: #00000022;
  border-radius: 0;
}

.MuiButton-root.login__button:hover {
  background-color: #FFFFFF11;
  border-radius: 0;
}


.login__button .MuiButton-label {
  /* font-size: 1.5rem; */
  color: #e7e8eb;
}

.MuiTextField-root.login__input {
  width: 250px;
}

.login__input .MuiInput-underline {
  width: 250px;
}

#tsparticles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
