.cover {
  height: inherit;
  width: inherit;
  margin: 10px;
  border-radius: 3px;
  background-color: #303030FE;
}

.newCover {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

::-webkit-scrollbar {
    display: none;
}