/* Styles for the StudentList React component */

.cover {
  height: inherit;
  width: inherit;
  margin: 10px;
  border-radius: 3px;
  background-color: #303030FE;
}

.newCover{
  position: absolute;
  bottom: 10px;
  left: 10px;
}